wp-admin/
apple-touch-icon-precomposed.png
license.txt
wp-blog-header.php

wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/themes/twentynineteen

wp-content/uploads

wp-load.php
wp-signup.php
apple-touch-icon.png
readme.html
wp-comments-post.php
wp-cron.php
wp-login.php
wp-trackback.php
favicon.ico
wp-activate.php
wp-config-sample.php
wp-includes
wp-mail.php
xmlrpc.php
index.php
!wp-content/themes/regenmed/index.php
wp-admin
wp-config.php
wp-links-opml.php
wp-settings.php