$color-white: #FFF;
$color-black: #171717;
$color-dark-gray: #2c2c2c;
$color-mid-dark-gray: #2f2f2f;
$color-gray: #3d3d3d;
$color-mid-gray: #666666;
$color-mid-light-gray:#858585;
$color-mid-light-gray-2:#d8d8d8;
$color-light-gray: #f2f2f2;
$color-lighter-gray: #fbfbfb;
$color-blue: #007aff;

.rgn-white{
    color: $color-white;
}
.rgn-gray{
    color: $color-gray;
}
