{
  "semi": true,
  "overrides": [
    {
      "files": ["*.html", "*.js"],
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
