/* Literature */

.rgn-literature{
    display: flex;
    flex-wrap: wrap;
} 

.rgn-literature-title {
    width:100%;
}

.rgn-literature__left, .rgn-literature__right{
    width:100%;
    @include media(">=desktop"){
        display: flex;
        flex-direction: column;
    }
}

.rgn-literature__left{
    @include media(">=desktop"){
        width: 50.4%;
    }
    @include media(">=bigdesktop"){
        width: 52.1%;
    }
    .rgn-literature__article--white-image.rgn-literature__article--white-image--reverse{
        @include media(">=bigdesktop"){
            max-width: 91.86%;
            width: 100%;
            margin-left: auto;
        }
    }
}

.rgn-literature__right{
    @include media(">=desktop"){
        width: 49.6%;
    }
    @include media(">=bigdesktop"){
        width: 47.9%;
    }
}

.rgn-literature__article:nth-child(n+5){
    @include media("<tablet"){
        display: none;
    }
}

.rgn-literature__article{
    overflow: hidden;
    position: relative;
    &:hover{
        .rgn-literature__article__image{
            transform: scale(1.05);
        }
        .rgn-literature__article__title{
            text-decoration: underline;
        }
    }
    &__anchor{
        width: 100%;
        height: 100%;
    }
    .rgn-literature__article__image, .rgn-literature__article__title{
        transition: 0.5s;
    }
}

.rgn-literature__article--main{
    position: relative;
    width: 100%;
    height: 58.7rem;
    overflow: hidden;
    @include media(">=desktop"){
        height: 60.5rem;
    }
    
    .rgn-literature__article__image{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .rgn-literature__article__info{
        position: relative;
        color: $color-white;
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 2rem 4.7rem 2.9rem;
        background-image: linear-gradient(181deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        @include media(">=bigdesktop"){
            padding-left: 15%;
            padding-right: 16%;
            font-size: 1.8rem;
        }
    }
    .rgn-literature__article__type{
        font-size: 1.41rem;
        @include media(">=bigdesktop"){
            font-size: 1.8rem;
        }
    }
    .rgn-literature__article__title{
        margin-bottom: 1.2rem;
        @include media(">=bigdesktop"){
            font-size: 4rem;
        }
    }
}

.rgn-literature__article--white-image, .rgn-literature__article--black{
    display:flex;
    flex-wrap: wrap;
    .rgn-literature__article__anchor{
        display:flex;
        flex-wrap: wrap;
    }
    .rgn-literature__article__image{
        width: 100%;
        height: 32.3rem;    
    }
    .rgn-literature__article__info{
        width: 100%;
        height: 28.2rem;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5.6rem 2.2rem 5.6rem 2.9rem
    }
    .rgn-literature__article__type{
        font-size: 1.41rem;
        color: rgba(47, 47, 47, 0.32);
        @include media(">=bigdesktop"){
            font-size: 1.8rem;
        }
    }
    .rgn-literature__article__title{
        color: $color-gray;
    }
    .rgn-literature__article__description{
        color: $color-mid-gray;
    }
}
.rgn-literature__article--white-image{
    .rgn-literature__article__anchor{
        @include media(">=tablet","<desktop"){
            flex-wrap: nowrap;
        }

        @include media(">=desktop"){
            display: flex;
            .rgn-literature__article__image {
                width: 34.78%;
            }
            .rgn-literature__article__info{
                width: 65.21%;
            }
        }
        @include media(">=bigdesktop"){
            .rgn-literature__article__title{
                margin: 1.6rem 0;
            }
            .rgn-literature__article__description{
                max-width: 26.9rem;
                width: 100%;
            }
        }
    }

    &.rgn-literature__article--white-image--reverse{
        .rgn-literature__article__anchor{
            display:flex;
            flex-direction: row;
            @include media(">=desktop"){
                flex-direction: row-reverse;
                .rgn-literature__article__image{ 
                    height: 28.3rem;
                }
            }
            @include media(">=bigdesktop"){
                .rgn-literature__article__image {
                    width: 43.97%;
                }
                .rgn-literature__article__info{
                    width: 56.03%;
                    padding-left: 7.6%;
                }
            }
        }
    }
}

.rgn-literature__article--black{
    background-color: $color-mid-dark-gray;
    @include media(">=bigdesktop"){
        padding-left: 5.6rem;
    }
    .rgn-literature__article__type, .rgn-literature__article__description{
        color: $color-mid-light-gray;
        @include media(">=bigdesktop"){
            font-size: 1.8rem;
            max-width: 500px;
            width: 100%;
        }
    }
    .rgn-literature__article__title{
        color: $color-white;
        @include media(">=bigdesktop"){
            font-size: 4rem;
            margin-bottom: 1.8rem;
        }
    }
}

.rgn-literature__article__image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.rgn-literature__article__info{
    font-family: $nunito-sans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.rgn-literature__article__type{
    font-size: 1.8rem;
    letter-spacing: 0.09rem;
}
.rgn-literature__article__title{
    font-family: $noto-tc;
    font-size: 3rem;
    font-weight: bold;
}
.rgn-literature__article__description{
    font-size: 1.8rem;
    line-height: 1.5;
}

.rgn-literature__read-more{
    margin: 3.7rem auto;
    @include media(">=tablet"){
        margin: 4.72rem auto;
    }
    @include media(">=desktop"){
        margin: 5.1rem auto;
    }
}